* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.main-container {
  width: 100%;
  height: 100vh;
  border-bottom: 10px solid rgb(83, 68, 68);
  background-position: center;
  background-size: cover;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url('./IN-en-20240506-POP_SIGNUP_TWO_WEEKS-perspective_WEB_ebbef551-d229-4865-8cdc-fb00f8960227_small.jpg');
}
 
  



.nav {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 70px;
}

.nav img {
  width: 20%;
}

.nav span button {
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

#eng-btn {
  width: 100px;
  background-color: rgb(32, 30, 30);
  border: 1px solid white;
  
}

.text-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
 /* background-color: aqua;*/

}

.text-section h1 {

  font-size: 55px;
}


.text-section h6{
  font-size: 20px;
  margin-top: 40px;
}

.text-section p {
  font-size: 18px;
  margin-top: 50px;
}

.text-section span input {
  width: 300px;
  height: 35px;
  background-color:rgb(51, 48, 48);
  border-radius: 5px;
  border: 1px solid white;
  padding-left: 30px;
}
.text-section span button{
  width: 250px;
  height: 35px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

.tv-section{
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  border-bottom: 10px solid rgb(54, 46, 46);
}

.left-child{
  width: 50%;
  height:  auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.right-child{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

.right-child img{
  width: 80%;
}
.left-child h1{
  font-size: 40px;
}

.left-child h6{
  font-size: 20px;
}





.tv-section2{
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
border: 10px solid rgb(99, 90, 90);
}

.left-child2{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
justify-content: center;
flex-direction: column;
}

.right-child2{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
     color: white;
     flex-direction: column;
}

.right-child2 h1{
  font-size: 50px;
  }
  .right-child2 h6{
    font-size: 27px;
}

.left-child2 img{
  width: 50%;
  }



.tv-section3{
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  border-bottom: 10px solid rgb(92, 88, 88);
}


.left-child3{
width: 50%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
}

.right-child3{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}


.left-child3 h1{
  font-size: 45px;
  margin-right: 65px;
  
}

.left-child3 h6{
  font-size: 22px;
  margin-left: 30px;
}

.right-child3 img{
  width:80%;
}



.tv-section4{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 background-color: black;
  border-bottom: 10px solid rgb(85, 78, 78);
}

.left-child4{
width: 50%;
height: auto;
display: flex;
align-items: center;
justify-content: center;
}
.right-child4{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.right-child4 h1{
  font-size: 40px;
  

 
  }

  .right-child4 p{

  font-size: 20px;
   margin-top: 10px;

}


.left-child4 img{
  width: 80%;
}

.faq-section{
  width: 100%;
  height: auto;
  background-color: black;
  border-bottom: 10px solid rgb(53, 51, 51);
  padding-block: 40px;
}

.faq-section h1{
  color: white;
  font-size: 40px;
  text-align: center;
}

.faq-container{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.faq-box{
  width: 60%;
  height: 60px;
  background-color: rgb(73, 66, 66);
  margin-top: 30px;
  font-size: 5px;
}
.faq-box span{
  width: 100%;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;

}


.faq-box span h6,h1{
 font-size: 27px;
  color: white;
}

.faq-box:hover{
 background-color: rgb(197, 185, 185);
}

.faq-container p{
  font-size: 20px;
  color: white;
  margin-top: 15px;
}
.faq-container span input{
  width: 350px;
  height: 45px;
  border-radius: 1px solid  rgb(77, 75, 75);
  background-color: black;
  padding: 10px;
  margin-top: 10px;
}
.faq-container span button{
  width: 200px;
  height:45px;
  background-color: red;
  margin-top: 10px;
  border: none;
  color: white;

}

.footer-section{
  width: 100%;
  height: auto;
  background-color: black;
  padding-block: 40px;
}

.footer-section p{
  color: white;
  font-size: 18px;
  padding-left: 200px;


}

.footer-part{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 40px;
}



.footer-part ul li{
  color: white;
  list-style: none;
  margin-top: 20px;
}
.footer-part ul button{
  width: 150px;
  height: 40px;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  border-radius: 10px solid white;
}





/*Responsive css code*/

@media (max-width: 768px){

.main-container{
  width: 100%;
  height: auto;
                }

   .nav{
    width: 100%;
    height: 80px;
   }     
   
   .text-section{
    width: 100%;
    height: auto;
    padding-block:30px;

   }
   .text-section h1{
    font-size: 30px;
    text-align: center;
    }
  
    .text-section h6{
      font-size: 25px;
      text-align: center;
    }

.text-section p{
  font-size: 14px;
  text-align: center;
}
.text-section span{
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

.text-section span button{
  margin-top: 20px;
}
  
.nav span button{
  width: 60px;

}
#enh-btn{
  width: 100px;
}

.nav img{
 width: 25%; }



 .tv-section{
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-block: 40px;
}

.left-child{
  width: 100%;
  height: auto;
 
}
.right-child{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tv-section2{
  width: 100%;
  height: auto;
  flex-direction:column-reverse;
  padding-block: 40px;
  align-items: center;
  justify-content: start;

}

.right-child2{
  width: 100%;
  height: auto;
  }

  .right-child2 h1{
  font-size: 35px;
  margin-right: 40px;
  }
  .right-child2 h6{
    font-size:20px ;
  }

  .left-child2 img{
    width: 20%;
  }
.left-child2{
  width: 100%;
  height: auto;
  }


  .tv-section3{
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-block: 40px;
  }

.left-child3{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-child3 h1{
  font-size: 35px;
  margin-left: 60px;
}

.left-child3 h6{
  font-size: 16px;
  text-align: center;
}

.right-child3{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-child3 img{
  width:60%
}


.tv-section4{
  width: 100%;
  height: aoto;
   padding-block: 40px;
   flex-direction: column;

}
.left-child4{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column-reverse;
  
}

.left-child4 img{
  width: 80%;
}

.right-child4{
  width: 100%;
  height: auto;
}

  .right-child4 h1{
    font-size: 35px;
    margin-left: 100px;
    
  }

.right-child4 h6{
  font-size: 16px;
  margin-left: 100px;
  
}


.faq-section{
  width: 100%;
  height: auto;
}
.faq-section h1{
  font-size: 25px;
}
.faq-section p{
  padding-left: 25px;
}  

.faq-section span input{

  width: 50%;
  height: 45px;
margin-left: 20px;
}

.faq-section span button{
  margin-left: 20px;
  width: 30%;
  height: 45px;
}

.footer-section{
  width: 100%;
  height: auto;
}


.footer-section p{
  padding-left: 0;
  text-align: center;
}

.footer-part{
  width: 100%;
  height: auto;
  align-items: start;
  flex-direction: colum;
  padding: 40px;
}

.footer-part ul{

  margin-top: 30px;
  font-size: 10px;
}

}